* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px;
    color: #262626;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-size: 14px;
    font-weight: 300;
}

h1 {
    margin: 0 0 8px 0;
    font-size: 24px;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    /* font-weight: 300; */
    font-weight: bold;
}

h3 {
  font-weight: normal;
}

a {
  color: #00B7FF;
}

#count-container{
  display:flex;
  margin: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#count {
  font-weight: bold;
}

.words {
  text-align:center;
}

.header {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pager {
  justify-content: center;
  display: flex;
}

